

@{
    ViewBag.Title = "Ranking";
}

<div class="jumbotron">
    <h2 class="text-center text-primary">Ranking</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>

            <th>
                Nome
            </th>
            <th>
                Curso
            </th>
            <th>
                Tempo
            </th>

        </tr>

        @foreach (var item in ViewBag.tempo) {
           // foreach (var x in item) {
            <tr>

                <td>

                    @item.ToString().Split(',')[1].Split('=')[1]
                </td>
                <td>
                    @item.ToString().Split(',')[2].Split('=')[1]
                </td>
                <td>
                    @*@item.ToString().Split(',')[3].Split('=')[1].Split('}')[0].Trim()*@
                    @TimeSpan.FromTicks(Convert.ToInt64(item.ToString().Split(',')[3].Split('=')[1].Split('}')[0].Trim())).ToString()
                </td>

                @*
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TempoId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TempoId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TempoId })
                    </td>*@
            </tr>
            //}
        }

    </table>
</div>