@model IEnumerable<TechWeek2017.Models.Aluno>

@{
    ViewBag.Title = "Alunos";
}

<h2 class="text-center">Alunos</h2>

<p>
    @Html.ActionLink("Cadastrar Aluno", "Create")
</p>
<div class="jumbotron">

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ra)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ra)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AlunoId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AlunoId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AlunoId })
                </td>
            </tr>
        }

    </table>
</div>